NEXT_PUBLIC_API_URL=http://localhost:3001


#auth0 
#lo que usa auth0 para encriptar la cookie
AUTH0_SECRET='891c7e24e9d4b08856d65a5004aa5131ffbe6637684e1d4ee609d3ca38e58ed7' 
#Mi url
AUTH0_BASE_URL='http://localhost:3000' 
#url que usa auth0 para hacer login/logout de usuarios (el domain de la app)
AUTH0_ISSUER_BASE_URL='https://dev-vrkwalqpf3zp60c0.us.auth0.com' 
#id  que tenemos en auth0 (el de la application)
AUTH0_CLIENT_ID='Dht6J06mYD5uNwXXSLav6WvqlSYJnaHQ'
#secret que tenemos en auth0 (el de la application)
AUTH0_CLIENT_SECRET='t10Jtn-u-vBuO49XPpMFx4VSvHxfzGZ5VO_l2xnFiTgkqWLU1mVRAYHYUhMtbDU-'